<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of paises; let i=index">
            <td>{{i+1}}</td>
            <td><img class="small-flag" [src]="item.flags.png"></td>
            <td>{{item.capital[0]}}, {{item.name.common}}</td>
            <td>{{item.population | number}}</td>
            <td>
                <a [routerLink]="['/pais/',item.ccn3]">ver...</a>
            </td>
        </tr>
    </tbody>
</table>