<h2>Por Región</h2><small>{{activeRegion | titlecase}}</small>
<hr>

<!-- <div class="row">
    <div class="col">
        <app-pais-input 
        (onEnter)="buscar( $event )"
        (onDebounce)="sugerencias( $event )"
        placeholder="Por región..."></app-pais-input>
    </div>
</div> -->
<div class="row">
    <div class="col">
        <button *ngFor="let region of regiones"
        [ngClass]="obtenerClase(region)"
        (click)="obtenerPaisesRegion(region)">
            {{region | titlecase}}
        </button>
    </div>
</div>
<hr>

<div *ngIf="hayError" class="alert alert-danger">
    No se encontró nada con el término {{termino}}
</div>

<div *ngIf="!hayError" class="row">
    <div class="col">
        <app-pais-tabla [paises]="paises" ></app-pais-tabla>
    </div>
</div>